@charset "UTF-8";


body {
  background-color: #000000;
  margin: 200px 34.4%;
}

.download {
  background-color: #f5f4f4;
  width: 600px;
  height: 44px;
  border-radius: 5px;
  display:flex;
  flex-direction:row; 
  align-items:center;
}

.url {
  all: unset;
  font: 16px system-ui;
  color: rgb(14, 13, 13);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: rgb(0, 0, 0);
}

.box {
  color: white;
  margin-top: 10px; 
  margin-bottom: 10px;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 5px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 14px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}